@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-Dark-01:#131313;
    --font-Dark-02:#424242;
    --font-Dartk-03:#727272;
    --primary-color:#FF900E;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Work Sans", serif;
    font-size: 1.6rem;
    color: var(--Dark-01);
}
.boxed-container{
    max-width: 1440px;
    margin: 0 auto;
}
.p-flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
}
.flex-gap-1{
    gap: 2rem;
}
.text-center{
    text-align: center;
}
.btn-primary{
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 15px 30px;
    background-color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    transition: all .5s ease-in-out;
}
.btn-primary:hover{
    background-color: #ff8f0f99;
    color: #131313;
}
/* Header Style */
header{
    background-color: antiquewhite;
    padding: 40px 0;
}
/* Nav Styles */
.logo-container h3{
    font-size: 4.5rem;
}
ul li{
    list-style: none;
}
ul li a{
    color: var(--font-Dark-02);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
}
/* hero Styles */
.hero-content{
    max-width: 860px;
    margin: 110px auto 50px;
}
.hero-title{
    color: var(--font-Dark-01);
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.hero-text{
    color: var(--font-Dartk-03);
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
.hero-img-container .hero-img{
    width: 100%;
}